body {
  font-family: "Manrope", sans-serif;
  color: #212121;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 12px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;

  line-height: 20px;
  text-align: left;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  font-size: 10px;
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.location {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 75px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  top: -34px;
}

.weather-description {
  font-size: 12px;
  text-transform: capitalize;
}
