body {
  font-family: "Manrope", sans-serif;
  color: #212121;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 12px;
  margin-top: 12px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  font-size: 10px;
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.form-control {
  font-size: 10px;
  color: #212121;
  background-color: #ebebeb;
  border: 1px solid #cecece;
  border-radius: 30px;
  padding: 10px 20px;
  height: 30px;
}

.btn {
  font-size: 10px;
  border: transparent;
  border-radius: 50px;
  padding: 0;
  color: #ffffff;
  background-color: #1d87ff;
  height: 30px;
}

.overview {
  margin-bottom: 20px;
}

.location {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 75px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  top: -34px;
}

.weather-description {
  font-size: 12px;
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #212121;
}

.weather-forecast .col-2 {
  background-color: white;
  max-width: 84px;
  margin-left: 10px;
  border-radius: 10px;
  height: 110px;
  padding-top: 10px;
}

.weather-forecast-date {
  font-size: 12px;
  color: #212121;
  font-weight: 800;
}

.weather-forecast-temp {
  font-size: 15px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.list-title {
  font-weight: 800;
}
